 
<section class="insert">
    <h3>Add HealthCheck Details</h3>
    <form action="/adddata" method="post" >
        <div class="input">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" class="form-control">
        </div>
        <div class="input">
            <label for="discription">Discription</label>
            <input type="text" id="discription" name="discription" class="form-control">
        </div>
        <div class="input">
            <label for="checkType">Check Type</label>
            <input type="text" id="checkType" name="checkType" class="form-control">
        </div>
        <div class="input">
            <label for="host">Host</label>
            <input type="text" id="host" name="host" class="form-control">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    
</section>


   